# needed by pdev_bpm_mmio.ko
CONFIG_UIO=m

# hard dependencies of iio_bpm_dma.ko
CONFIG_IIO=m
CONFIG_IIO_BUFFER=m
CONFIG_IIO_BUFFER_DMAENGINE=m

# soft dependencies of iio_bpm_dma.ko
CONFIG_AXI_DMAC=m

# nice to have
CONFIG_DYNAMIC_DEBUG=y

# currently unused, but may be useful in future
CONFIG_OF_DYNAMIC=y
CONFIG_OF_OVERLAY=y
CONFIG_OF_CONFIGFS=y
